
.navbar{
    background-color: #03011D
}

/* Change the color of the navbar-toggler-icon to white */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.gradient-button {
    background: linear-gradient(to right, #1505C8, #0163FF, #16A3D0);
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px;
    border-radius: 5px;
    
  }
  .nav-link{
    color: #CFCCED;
  }
  .gradient-background {
   background-color: #03011D;
    height: 100vh;/* Set height to full viewport height */
  }
  
    .background-image {
      background-image: url('./images/Group\ 13862.png');
      background-size: cover;
      background-repeat: no-repeat;
     height:30rem;
    }
    .p-colour1{
      color: #CFCCED;
    }